# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio
.vs/

# IDE settings
*.swp
*.vspscc
*.vssscc

# Logs
*.log

# DotNet artifacts
project.lock.json
project.fragment.lock.json

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec

# Other
*.DS_Store
*.db
